<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>

	<style>

	body {
	font-size: 11px;
	}

table {
  border-collapse: collapse;
}

.mb-2 {
	margin-bottom: 16px;
}

table tr {
	height: 35px;
}

table {

}

table {
    border-left: 0.01em solid #000;
    border-right: 0;
    border-top: 0.01em solid #000;
    border-bottom: 0;
    border-collapse: collapse;
}
table td,
table th {
    border-left: 0;
    border-right: thin solid #000;
    border-top: thin;
    border-bottom: thin solid #000;
}

.left{
	width: 49%;
    float: left;
}


.right{
	width: 49%;
    float: right;
}

.main-table {
	border-spacing: 15px 0px;
}

	</style>

</head>
<body>

	<div class="main-table">
	<div class="table-row">
	<div class="foreach-client left">



		<table>
			<tbody>
			<tr>
				<td>Codul deseurilor: 1801 clasa 6 UN 3291 GA II tip ambalaj Y</td>
				<td>Deseuri periculoase < 1 t/an |X|<br>
					Deseuri periculoase > 1 t/an | |
				</td>
				<td>Nr. formularului de aprobare a transportului:</td>
			</tr>
			<tr>
				<td>Nr. de inregistrare al expeditorului:</td>
				<td>Nr. de inregistrare a transportatorului</td>
				<td>Nr. de inregistrare al destinatarului:<br>
				<strong>J29/2306/2008</strong>
				</td>
			</tr>
			<tr>
				<td>In calitate de: Generator |X|<br>
					Operator economic care realizeaza operatia de: Colectare |_| Stocare temporara |_|

				</td>
				<td>In calitate de: Transportator |X|</td>
				<td>In calitate de: STOCARE TEMPORARA |_|, ELIMINARE |X|, TRATARE |_|, VALORIFICARE |_|</td>
			</tr>
			<tr>
				<td>Cantitatea predata in<br>
				Kg. |_|_|_|_|_|_|_|_|_|_|<br>
				(conform explicatiilor de mai jos)
				</td>
				<td>Cantitatea primita in<br>
				Kg. |_|_|_|_|_|_|_|_|_|_|<br>
				(conform explicatiilor)
				</td>
				<td>Cantitatea receptionata in<br>
				Kg. |_|_|_|_|_|_|_|_|_|_|<br>
				<small>(conform explicatiei de mai jos)</small><br>
				Cantitatea respinsa in<br>
				Kg. |_|_|_|_|_|_|_|_|_|_|
				</td>
			</tr>
			<tr>
				<td>Data predarii (zi, luna, an):<br>
				7/24/2020
				</td>
				<td>Data predarii (zi, luna, an):<br>
				7/24/2020
				</td>
				<td>Data primirii (zi, luna, an):<br>
				7/24/2020
				</td>
			</tr>
			<tr>
				<td>
                    Denumirea firmei, adresa: <br>
                    {{$client->name}}, {{$client->city}}, {{$client->county}}
                </td>
				<td>Denumirea firmei, adresa:</td>
				<td>Denumirea firmei, adresa:<br>
				SC ECO BURN SRL<br>
				RO 24333770
				</td>
			</tr>
			<tr>
				<td>Semnatura si stampila</td>
                <td><img src="{{asset('images/stamp.png')}}"></td>
				<td>Semnatura si stampila</td>
			</tr>
			</tbody>
		</table>
		<p>Tipul mijloacelor de transport:</p>
		<p>Au fost predate spre transport deseurile:</p>
		<table class="mb-2">
			<thead>
			<tr>
			  <th>Cod deseu</th>
			  <th>Descriere deseu</th>
			  <th>Tip ambalaj</th>
			  <th>Numar ambalaje receptionate</th>
			  <th>Greutate in kg.</th>
			</tr>
			</thead>
			<tbody>
			<tr>
				<td>18 01 03</td>
				<td>Deseuri a caror colectare si eliminare fac obiectul unor masuri speciale</td>
				<td></td>
				<td></td>
                <td>5</td>
            </tr>
			<tr>
				<td>18 01 03</td>
				<td>Deseuri a caror colectare si eliminare fac obiectul unor masuri speciale</td>
				<td></td>
				<td></td>
				<td>5</td>
			</tr>
			<tr>
				<td>18 01 03</td>
				<td>Deseuri a caror colectare si eliminare fac obiectul unor masuri speciale</td>
				<td></td>
				<td></td>
				<td>5</td>
			</tr>
			<tr>
				<td>18 01 03</td>
				<td>Deseuri a caror colectare si eliminare fac obiectul unor masuri speciale</td>
				<td></td>
				<td></td>
				<td>5</td>
			</tr>
			<tr>
				<td>18 01 03</td>
				<td>Deseuri a caror colectare si eliminare fac obiectul unor masuri speciale</td>
				<td></td>
				<td></td>
				<td>5</td>
			</tr>
			<tr>
				<td>18 01 03</td>
				<td>Deseuri a caror colectare si eliminare fac obiectul unor masuri speciale</td>
				<td></td>
				<td></td>
				<td>5</td>
			</tr>
			<tr>
				<td>18 01 03</td>
				<td>Deseuri a caror colectare si eliminare fac obiectul unor masuri speciale</td>
				<td></td>
				<td></td>
				<td>5</td>
			</tr>
			<tr>
				<td>18 01 03</td>
				<td>Deseuri a caror colectare si eliminare fac obiectul unor masuri speciale</td>
				<td></td>
				<td></td>
				<td>5</td>
			</tr>
			</tbody>
		</table>
	</div>

<div class="foreach-client right">
		<table>
			<tbody>
			<tr>
				<td>Codul deseurilor: 1801 clasa 6 UN 3291 GA II tip ambalaj Y</td>
				<td>Deseuri periculoase < 1 t/an |X|<br>
					Deseuri periculoase > 1 t/an | |
				</td>
				<td>Nr. formularului de aprobare a transportului:</td>
			</tr>
			<tr>
				<td>Nr. de inregistrare al expeditorului:</td>
				<td>Nr. de inregistrare a transportatorului</td>
				<td>Nr. de inregistrare al destinatarului:<br>
				<strong>J29/2306/2008</strong>
				</td>
			</tr>
			<tr>
				<td>In calitate de: Generator |X|<br>
					Operator economic care realizeaza operatia de: Colectare |_| Stocare temporara |_|

				</td>
				<td>In calitate de: Transportator |X|</td>
				<td>In calitate de: STOCARE TEMPORARA |_|, ELIMINARE |X|, TRATARE |_|, VALORIFICARE |_|</td>
			</tr>
			<tr>
				<td>Cantitatea predata in<br>
				Kg. |_|_|_|_|_|_|_|_|_|_|<br>
				(conform explicatiilor de mai jos)
				</td>
				<td>Cantitatea primita in<br>
				Kg. |_|_|_|_|_|_|_|_|_|_|<br>
				(conform explicatiilor)
				</td>
				<td>Cantitatea receptionata in<br>
				Kg. |_|_|_|_|_|_|_|_|_|_|<br>
				<small>(conform explicatiei de mai jos)</small><br>
				Cantitatea respinsa in<br>
				Kg. |_|_|_|_|_|_|_|_|_|_|
				</td>
			</tr>
			<tr>
				<td>Data predarii (zi, luna, an):<br>
				7/24/2020
				</td>
				<td>Data predarii (zi, luna, an):<br>
				7/24/2020
				</td>
				<td>Data primirii (zi, luna, an):<br>
				7/24/2020
				</td>
			</tr>
			<tr>
				<td>
                    Denumirea firmei, adresa: <br>
                    {{$client->name}}, {{$client->city}}, {{$client->county}}
                </td>
				<td>Denumirea firmei, adresa:</td>
				<td>Denumirea firmei, adresa:<br>
				SC ECO BURN SRL<br>
				RO 24333770
				</td>
			</tr>
			<tr>
				<td>Semnatura si stampila</td>
				<td><img src="{{asset('images/stamp.png')}}"></td>
				<td>Semnatura si stampila</td>
			</tr>
			</tbody>
		</table>
		<p>Tipul mijloacelor de transport:</p>
		<p>Au fost predate spre transport deseurile:</p>
		<table class="mb-2">
			<thead>
			<tr>
			  <th>Cod deseu</th>
			  <th>Descriere deseu</th>
			  <th>Tip ambalaj</th>
			  <th>Numar ambalaje receptionate</th>
			  <th>Greutate in kg.</th>
			</tr>
			</thead>
			<tbody>
			<tr>
				<td>18 01 03</td>
				<td>Deseuri a caror colectare si eliminare fac obiectul unor masuri speciale</td>
				<td></td>
				<td></td>
				<td>5</td>
			</tr>
			<tr>
				<td>18 01 03</td>
				<td>Deseuri a caror colectare si eliminare fac obiectul unor masuri speciale</td>
				<td></td>
				<td></td>
				<td>5</td>
			</tr>
			<tr>
				<td>18 01 03</td>
				<td>Deseuri a caror colectare si eliminare fac obiectul unor masuri speciale</td>
				<td></td>
				<td></td>
				<td>5</td>
			</tr>
			<tr>
				<td>18 01 03</td>
				<td>Deseuri a caror colectare si eliminare fac obiectul unor masuri speciale</td>
				<td></td>
				<td></td>
				<td>5</td>
			</tr>
			<tr>
				<td>18 01 03</td>
				<td>Deseuri a caror colectare si eliminare fac obiectul unor masuri speciale</td>
				<td></td>
				<td></td>
				<td>5</td>
			</tr>
			<tr>
				<td>18 01 03</td>
				<td>Deseuri a caror colectare si eliminare fac obiectul unor masuri speciale</td>
				<td></td>
				<td></td>
				<td>5</td>
			</tr>
			<tr>
				<td>18 01 03</td>
				<td>Deseuri a caror colectare si eliminare fac obiectul unor masuri speciale</td>
				<td></td>
				<td></td>
				<td>5</td>
			</tr>
			<tr>
				<td>18 01 03</td>
				<td>Deseuri a caror colectare si eliminare fac obiectul unor masuri speciale</td>
				<td></td>
				<td></td>
				<td>5</td>
			</tr>
			</tbody>
        </table>

	</div>
</div>
</div>
</body>
</html>
